# PyTorch
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.0+cu121
torchvision==0.18.0+cu121
timm==0.9.12  # For HMR2.0a feature extraction

# Lightning + Hydra
lightning==2.3.0
hydra-core==1.3
hydra-zen
hydra_colorlog
rich

# Common utilities
numpy==1.23.5
jupyter
matplotlib
ipdb
setuptools>=68.0
black
tensorboardX
opencv-contrib-python==4.8.1.78
ffmpeg-python
scikit-image==0.23.0
termcolor
einops
imageio==2.34.1
av==13.0.0  # imageio[pyav], improved performance over imageio[ffmpeg]
joblib

# # Diffusion
diffusers[torch]==0.36.0
transformers==4.57.5

# # 3D-Vision
pytorch3d @ https://github.com/MiroPsota/torch_packages_builder/releases/download/pytorch3d-0.7.9/pytorch3d-0.7.9%2Bpt2.4.1cu121-cp310-cp310-linux_x86_64.whl
trimesh
smplx
open3d==0.17.0
wis3d
pycolmap

# # 2D-Pose
ultralytics==8.2.42  # YOLO
cython_bbox
lapx
